html body{
    margin: 0;
    padding: 0;
    background-color: #c4c4c4;
}

.background{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    background: 
    radial-gradient(circle, transparent 20%, #c4c4c4 20%, #c4c4c4 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #c4c4c4 20%, #c4c4c4 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(rgba(27, 92, 110, 0.2) 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, rgba(27, 92, 110, 0.2) 8px, transparent 8px) -4px 0;
  background-color: #c4c4c4;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

.texto_titulo{
    font-family: "Playfair Display";
    font-size: 40pt;
    border-bottom: 1pt solid black;
    color: black;

}

.subtitulo{
    font-family: "Playfair Display";
    font-weight: lighter;
    font-size: 20pt;
    color: black;
}

.nombre{
    font-family: "Lato";
    font-size: 12pt;
    color: gray;
    text-transform: uppercase;
}

.linea1{
    border: 1pt solid black;
}
.parrafo_lead{    
    font-family: "Playfair Display";
    font-size: 14pt;
    text-align: center;
    color: black;
}

.linea2{
    border: 1pt solid black;
}

.texto{
    font-family: "Playfair Display";
    font-size: 14pt;
    text-align: left;
    color: black;
}

.titulo_grafico_2{
    font-family: "Lato";
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    color: black;
}

.subtitulo_grafico_2{
    font-family: "Lato";
    font-style: italic;
    font-size: 14pt;
    text-align: center;
    color: black;
}
.fuente{
    font-family: "Lato";
    font-size: 10pt;
    color: dimgray;
    text-transform: uppercase;
    font-weight: 300;
}
.titulo_grafico{
    font-family: "Lato";
    font-size: 18pt;
    margin-top: 5%;
    color: black;
    font-weight: bold;
    
}
.subtitulo_grafico{
    font-family: "Lato";
    font-style: italic;
    font-size: 14pt;
    margin-top: -1%;
    color: black;
}

.titulo_interactivo{
    font-family: "Lato";
    font-size: 16pt;
    text-align: center;
    color: black;
    font-weight: bold;
}

.subtitulo_interactivo{
    font-family: "Lato";
    font-style:oblique;
    font-weight: 100;
    font-size: 14pt;
    text-align: center;
    color: black;
}
.b1, .b2, .b3, .b4, .b5{
    display:inline-block;
    width: 12%;
    height: 9%;
}
  
.container{
    text-align: center;
    margin-top: 2%;
}

button {
    outline: none;
    border:0.001em solid gray;
    box-sizing: border-box;
    font-family: "Lato";
    font-size: 12pt;
    font-weight: 200;
    color:white;
    text-align: center;
    transition: all 0.2s;
    background-color: #c4c4c4;
}
button:focus{
    background-color: rgba(27, 92, 110, 0.5);
    color: white;
      
}
button:hover{
    text-decoration: underline;
    cursor: pointer;
}

#second, #third, #fourth, #fifth {
    display: none
}
.imagen{
    margin-top: 5%;
    position: relative;
    height: 100vh;
}
.imagen > img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    transform: translate(20px);      
}
.texto_imagen{
    position: absolute;
    bottom: 6%;
    left: 10%;
    width: 40%;
    background-color: #c4c4c4be;
    font-family: 'Lato';
    font-weight: 300;
    border: 0.5px solid black;
    padding: 2%;
}
  
  
  








