html, body{
    margin: 0;
    padding: 0;
    background-color: black;
    line-height: 1.3;
    width: 100%;
    height: 100%;
  }
  
  header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  .titulo{
    font-family:"Lato";
    font-weight: bold;
    font-size: 40pt;
    color: white;
    margin-top: 3%;
    text-transform: uppercase;
}
.titulito_portada{
    font-family:"Lato";
    font-size: 14pt;
    color: white;
}

hr{
    left: 0%;
    margin-top: 3%;
}

.autor{
    font-family: 'Lato';
    color: white;
    margin-top: 3%;
    font-size: 12pt;
}

.primer_parrafo{
    color: white;
    margin: auto;
    position: relative;
    margin-top: 10%;
    font-family: "Georgia";
    font-size: 14pt;   
}

.entre_titulo{
    padding-top: 15%;
}
.rectangulo{
    background-color: white;
    height: 2%;
    position: absolute;
}
.titulito{
    color: white;
    font-family: "Lato";
    font-size: 40pt;
    font-weight: bold;
    padding-top: 3%;
}
.titulito_cursiva{
    color: white;
    font-family: "Lato";
    font-size: 30pt;
    font-weight: 400;
    font-style: italic; 
}
.mediotitulo{
    position: relative;
    font-family: "Lato";
    font-weight: bold;
    color: white;
    font-size: 18pt;
}
.texto{
    color: white;
    position: relative;
    margin-top: 3%;
    font-family: "Georgia";
    font-size: 14pt;
}
.ladillo{
    color: white;
    font-family: "Lato";
    font-size: 14pt;
    font-weight: bold;
    position: relative;
}
.foto1{
    position: relative;
    width: 70vw;
    height: 60vh;
    object-fit: cover;
}

.foto2{
    position: relative;
    width: 65vw;
    height: 60vh;
    object-fit: cover;
}

.pie_pagina{
    color: white;
    font-family: "Lato";
    font-size: 12pt;
}




  