<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Fuentes Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">    <!-- Estilos AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" />          
    <title>Contacto</title>
    <style>
      body {
    margin: 0;
    padding: 0;
    padding-top: 4.5rem;
    font-size: 100%;
    color: black;
  }

/* Estilos para la barra de navegación */
  
nav.navbar.navbar-expand{
    background: linear-gradient(rgba(183, 208, 225, 1), rgba(183, 208, 225, 0.8), rgba(183, 208, 225, 0.6), rgba(183, 208, 225, 0.4), rgba(183, 208, 225, 0.2), rgba(183, 208, 225, 0.0));
    height: 6em;
  }

  nav.navbar{
    box-shadow: none;
  }

  a.navbar-brand{
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    font-family: "Roboto Black";
    font-size: 2.5em;
  }

  .nav-link.dropdown-toggle::after{
    opacity: 0;
  }

  .dropdown-item{
    font-family: "Roboto Light";
    font-size: 1em;
    text-align: left;
  }

  .imagen_toggle{
    width: 50px;
    height: auto;
    margin-top: 15%;
  }
  .nav-link.dropdown-toggle{
    left: 0;
  }


/* Estilos para la barra de navegación */


.outer{
    margin-top: 10%;
    display: flex;
    align-items: center;
}

.linea{
    position: relative;
    width: 60%;
    border-bottom: 1px solid black;
    opacity: 1;
}
.titulo_seccion{
    width: 35%;
    position: absolute;
    margin-top: -1.5%;
    text-align: center;
    background-color: white;
    font-family: "Roboto Black";
    font-size: 20pt;
}
.parrafo{
    margin-top: 5%;
    text-align: center;
    font-family: "Roboto Light";
    font-size: 14pt;
}

.tel{
    text-align: center;
    font-family: "Roboto Light";
    font-size: 14pt;
}

.nav-link.dropdown-toggle > img{
    max-width: 10%;
    max-height: 10%;
    margin-top: -7%;
}

    </style>
</head>
<body>
  <nav class="navbar navbar-expand fixed-top d-inline" aria-label="Eighth navbar example">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown" aria-expanded="false"><img class="imagen_toggle" src="img/img_galeria/burger.png"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/#portfolio">Portfolio</a></li>
              <li><a class="dropdown-item" href="/sobremi">Sobre mí</a></li>
              <li><a class="dropdown-item" href="/contacto">Contacto</a></li>
              <li><a class="dropdown-item" href="/home_english"><b>English</b></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="/" class="navbar-brand">Ana's Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>

    <div class="w-100 overflow-hidden scroll">
    <div>
        <div class="row d-flex justify-content-center outer">
            <hr class="col-8 col-xl-8 col-lg-8 col-md-6 col-sm-8 linea">
            <h3 class="titulo_seccion">Contacta conmigo</h3>
        </div> 
        <div class="row justify-content-center">
            <p class="col-8 col-xl-6 col-lg-6 col-md-6 col-sm-8 parrafo">¿Quieres saber más sobre mí o mi trabajo?<br>¿Hay algún proyecto en el que crees que pueda sumergirme?<br>¡Mándame un correo o llámame!</p>
        </div>
        <div class="row justify-content-center">
        <p class="col-4 col-xl-2 col-lg-2 col-md-2 col-sm-4 tel"><b>T: </b>639440466</p>
        </div>
        <div class="row justify-content-center">
            <p class="col-8 col-xl-4 col-lg-4 col-md-4 col-sm-8 tel"><b>E: </b>annaruiz982@gmail.com</p>
        </div>
    </div>





<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
   AOS.init();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>

</body>
</html>