<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La generación de cristal, al borde de romperse</title>
    <!-- Estilos bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Fuentes Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display&display=swap" rel="stylesheet">
    <!-- Estilos AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="main.css" rel="stylesheet">
</head>
<body>
<article class="main">
    <div class="w-100 h-100 overflow-hidden scroll">
        <div class="row vw-100 vh-100 d-flex justify-content-center position-relative">
            <div class="align-self-center" data-aos="fade-up" data-aos-offset="100" data-aos-delay="50" data-aos-easing="ease-in">
                <img class="laura center-block" src="img/laura.svg">
            </div>
            <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute texto_inicio" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-easing="ease-in">
                <p>Imaginad a una chica llamada Laura. Nació en el año 1997, en una familia de clase media en la que ninguno de los padres había ido a la universidad. Sin embargo, en casa nunca había faltado de nada y se podían permitir irse de vacaciones a la costa un par de semanas al año.</p>
            </div>
        </div>
        <div class="row vw-100 vh-100 d-flex justify-content-center position-relative">
            <div class="align-self-center" data-aos="fade-up" data-aos-offset="100" data-aos-delay="50" data-aos-easing="ease-in">
                <img class="laura center-block" src="img/laura_graduacion.svg">
            </div>
            <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute texto_inicio" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-easing="ease-in">
                <p>Laura fue a la universidad porque le gustaba y la gente aseguraba que así tendría un mejor futuro. Acabó la carrera en el tiempo que correspondía e hizo unas prácticas no remuneradas, ya que le aseguraron que era la mejor forma de entrar en el sector.</p>
            </div>
        </div>
        <div class="row vw-100 vh-100 d-flex justify-content-center position-relative">
            <div class="align-self-center" data-aos="fade-up" data-aos-offset="100" data-aos-delay="50" data-aos-easing="ease-in">
                <img class="libros center-block" src="img/libros.svg">
            </div>
            <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute texto_inicio" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-easing="ease-in">
                <p>Después llegó el máster, las prácticas del máster, los idiomas, los cursos en todo tipo de disciplinas y para potenciar toda clase de habilidades… Pero sirvió de poco.</p>
            </div>
        </div>
        <div class="row vw-100 vh-100 d-flex justify-content-center position-relative">
            <div class="align-self-center" data-aos="fade-up" data-aos-offset="100" data-aos-delay="50" data-aos-easing="ease-in">
                <img class="laura center-block" src="img/dinero_problema.svg">
            </div>
            <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute texto_inicio" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-easing="ease-in">
                <p>Laura, al final, se mudó a la capital. Encontró trabajo, pero le pagaban poco. Había veces que daba clases particulares a algún niño de su barrio. Había pocos lujos en su vida y, cuando los había, se tenía que recortar por otros sitios.</p>
            </div>
        </div>
        <div class="row vw-100 vh-100 d-flex justify-content-center position-relative">
            <div class="align-self-center" data-aos="fade-up" data-aos-offset="100" data-aos-delay="50" data-aos-easing="ease-in">
                <img class="avion center-block" src="img/avion.svg">
            </div>
            <div class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center position-absolute texto_inicio" data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-easing="ease-in">
                <p class="ultimo_parrafo">Se planteó en un par de ocasiones el irse al extranjero. Este pensamiento era más recurrente cuando, con 24 años (edad a la que sus padres se casaron) entraba al piso que compartía con otras tres personas. Ahí se preguntaba qué había hecho ella para tener una vida tan alejada de la de sus padres, en qué momento había cambiado todo tanto.</p>
            </div>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden scroll">
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-4 col-lg-4 col-md-4 col-sm-10 text-center mt-5 seccion">Datos</p> 
        </div>
        <div class="row d-flex justify-content-center ">
            <h1 class="col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-5 text-center titulo">LA GENERACIÓN DE CRISTAL, AL BORDE DE ROMPERSE</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 text-center autoria">Por Ana Ruiz Espinar</p>
        </div>
        <div class="row d-flex justify-content-center ">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 text-center mb-4 fecha">Junio 2022</p>
        </div>
        <div class="row d-flex justify-content-center contacto">
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 text-center">
                <a class="m-2" href="https://twitter.com/anabelruizaire"><span class="dot"><img src="img/twitter.svg" id="twitter" alt="Twitter"></span></a>
                <a class="m-2" href="https://anadelarue.cargo.site/"><span class="dot"><img src="img/cargo.svg" id="twitter" alt="Cargo"></span></a>
                <a class="m-2" href="mailto: annaruiz982@gmail.com"><span class="dot"><img src="img/email.svg" id="twitter" alt="Email"></span></a>
                <a class="m-2" href="https://www.linkedin.com/in/ana-ruiz-espinar-171721197/"><span class="dot"><img src="img/linkedin.svg" id="twitter" alt="Linkedin"></span></a>
            </div>
        </div>
    </div>
    <div class="container col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 parrafo">
        <p class="mt-5">Quizá podría no ser este el relato de los millenials más jóvenes y de todos los miembros de la generación Z, pero parece el más extendido. Personas que lo ha tenido más fácil para prosperar académicamente, pero que en cierto punto han visto como sus vidas comenzaban a discernir dramáticamente de la de sus padres y poco pueden hacer al respecto.</p>
        <p>En lo económico no les va muy bien, tampoco en lo laboral o si quieren independizarse. Tener hijos suena muy lejano y alguna que otra vez han sentido que no levantaban cabeza.</p>
        <p>La crisis económica de 2008 afectó a España como a pocos otros países europeos y sus efectos, unidos a los de la crisis ocasionada por la COVID-19 y la subida de la inflación solo han hecho más difícil el salir adelante. Quizá este cóctel, que empezó con la explosión de la burbuja inmoviliaria es lo que sigue afectando a las generaciones más jóvenes a día de hoy.</p>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <h3 class="text-center mb-3 mt-5 capitulo">Emigrar para poder prosperar</h3>
            <img class="col-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center" src="img/floritura.svg" alt="floritura">
        </div>
    </div>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
        <p class="mt-5">El 27,1% de los jóvenes españoles de entre 20 y 34 años posee un título universitario, mientras que el 51,7% ha completado estudios de bachillerato o formación profesional de cualquier tipo.</p>
        <p>Sin embargo, la crisis económica de 2008 hizo que la tasa de desempleo en estos grupos de edad se multiplicara desde un 14,9% en el primer trimestre de 2007 a un 25% en el último de 2008.</p>
        <p>Ni siquiera aquellos con un nivel educativo superior se salvaron. Según datos del INE del año 2014, en torno a un 40% de la población de entre 16 y 29 años con un nivel educativo superior al bachillerato se encontraba en paro.</p>
        <p>Esto forzó la emigración al extranjero de muchos jóvenes españoles a países como Reino Unido, Francia, Alemania o Estados Unidos. El año con más salidas fue 2015, en el que se registró la salida de casi 20.000 jóvenes desde España. Este dato no es conclusivo, ya que la gran mayoría no se empadrona en los lugares a los que emigra.</p>
        <p>Aunque la situación ha mejorado considerablemente en los últimos años, en el 2020, la tasa de desempleo para el mismo grupo de edad y nivel educativo  se encontraba en el 33,62%, debido en parte a la pandemia y más de 15.000 personas emigraron a otros países.</p>
    </div>
    <div class="container col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
        <p class="mt-5 titulo_grafico">Número de personas que emigran al extranjero en los años 2009, 2015 y 2020</p> 
        <p class="explicacion_grafico">En cifras absolutas, para ciudadanos españoles de entre 15 y 34 años</p>
        <img class="grafico" src="img/1.svg" alt="Número de personas que emigran al extranjero en los años 2009, 2015 y 2020">
        <p class="mt-4 fuente">Fuente: Instituto Nacional de Estadística (INE)</p>
        <p class="mt-4 parrafo">A pesar de todo, los jóvenes prefieren moverse dentro del territorio nacional y emigrar a lugares donde las condiciones económicas son mejores. Entre los destinos más elegidos se encuentran Madrid, las Islas Baleares o Guadalajara, que ejerce como ciudad dormitorio de la capital. El primero se caracteriza por un mayor desarrollo económico que el resto de ciudades españolas y el segundo, por la explotación turística de su economía. Además, el perfil del emigrante interprovincial suele ser el del joven titulado universitario que procede del interior o del norte de España, especialmente de Castilla y León.</p>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
               <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center mt-3 titulo_grafico">Saldo migratorio interprovincial para el año 2020 en cifras absolutas</p> 
        </div>
        <div class="row d-flex justify-content-center">
            <img class="col-12 col-xl-8 col-lg-8 col-md-12 col-sm-12 align-self-center" src="img/2.png" alt="Saldo migratorio interprovincial para el año 2020 en cifras absolutas">
        </div>
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-3 fuente">Fuente: Instituto Nacional de Estadística (INE)</p>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center parrafo">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">Para los jóvenes españoles con estudios universitarios, la primera experiencia laboral suele ser “bastante insatisfactoria”, tal y como lo recoge la Encuesta de Inserción Laboral de los Titulados Universitarios, elaborada por el INE en 2018. En ella se muestra como los primeros contratos de los recién graduados estan caracterizados por una alta temporalidad, una baja remuneración y un sentimiendo de sobreeducación bastante acentuado.</p>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
               <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center mt-3 titulo_grafico">Número de jóvenes que...</p> 
        </div>
        <div class="row d-flex justify-content-center">
                <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center explicacion_grafico">Características del primer empleo de los jóvenes universitarios en tanto por ciento</p>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 mt-5">
                <p class="subtitulo_grafico align-self-center ms-4">...tardó menos de un año en encontrar su primer empleo</p>
                <img class="w-75 ms-4" src="img/3a.svg" alt="Número de jóvenes que tardó menos de un año en encontrar su primer empleo">
            </div>
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 align-self-center mt-5">
                <p class="subtitulo_grafico">...se sintió sobrecualificados para su primer empleo</p>
                <img class="w-75 ms-4" src="img/3c.svg" alt="Número de jóvenes que se sintió sobrecualificado para su primer empleo">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 align-self-center mt-5">
                <p class="subtitulo_grafico">...cobraba menos de 700 euros en su primer empleo</p>
                <img class="w-75 ms-4" src="img/3d.svg" alt="Número de jóvenes que cobraba menos de 700 euros en su primer empleo">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-5 fuente">Fuente: Encuesta de Inserción Laboral de los Titulados Universitarios (INE). Año 2018</p>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <h3 class="text-center mb-3 mt-5 capitulo">Dos opciones a escoger: parcialidad o temporalidad</h3>
            <img class="col-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center" src="img/floritura.svg" alt="Floritura">
        </div>
    </div>
    <div class="container col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 parrafo">
        <p class="mt-5">La tendencia laboral se extiende más allá del primer empleo. La vida laboral de los jóvenes españoles sigue estando caracterizada por una temporalidad y parcialidad muy altas y unos ingresos muy bajos, sobre todo en las mujeres.</p>
        <p>Además, en muchas ocasiones estos empleos ni siquiera se encuentran en el campo de interés o especialización del intersado, puesto que las empresas exigen años de experiencia que los jóvenes no poseen y que los dejan atrapados en empleos informales durante largos periodos.</p>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
               <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center mt-5 titulo_grafico">Porcentaje de personas de entre 16 y 29 años que trabajan a tiempo parcial</p> 
        </div>
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center explicacion_grafico">Año 2020. Información previa a la reforma laboral de febrero de 2022</p>
        </div>
        <div class="row d-flex justify-content-center mb-4">
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 mt-5">
                <p class="subtitulo_grafico ms-4">Hombres</p>
                <img class="w-75 ms-4" src="img/4a.svg" alt="Porcentaje de personas de entre 16 y 29 años que trabajan a tiempo parcial. Hombres">
            </div>
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 align-self-center mt-5">
                <p class="subtitulo_grafico ms-4">Mujeres</p>
                <img class="w-75 ms-4" src="img/4b.svg" alt="Porcentaje de personas de entre 16 y 29 años que trabajan a tiempo parcial. Mujeres">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center mt-5 titulo_grafico">Porcentaje de personas de entre 16 y 29 años con contrato indefinido</p> 
        </div>
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center explicacion_grafico">Año 2020. Información previa a la reforma laboral de febrero de 2022</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 align-self-center mt-5">
                <p class="subtitulo_grafico ms-4">Hombres</p>
                <img class="w-75 ms-4" src="img/4c.svg" alt="Porcentaje de personas de entre 16 y 29 años con contrato indefinido. Hombres">
            </div>
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 align-self-center mt-5">
                <p class="subtitulo_grafico ms-4">Mujeres</p>
                <img class="w-75 ms-4" src="img/4d.svg" alt="Porcentaje de personas de entre 16 y 29 años con contrato indefinido. Mujeres">
            </div>
        </div>
        <div class="row d-flex justify-content-center mt-3">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-3 fuente">Fuente: Instituto Nacional de Estadística (INE)</p>
        </div>
    </div>
    <div class="container col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 parrafo">
        <p class="mt-5">Tanto si se trata del puesto soñado, como del que no, los salarios son sustancialmente más bajos para los jóvenes de entre 16 y 34 años, que cobran una media de 1720,88 euros si trabajan a jornada completa. Con el mismo tipo de contrato, una persona a partir de este rango de edad gana de media 2411,21 euros, lo que supone un 28,63% más.</p>
        <p>El aumento de los salarios desde el comienzo de la crisis tampoco se equipara con el del precio del nivel de vida, si comparamos el incremento de estos con la subida del IPC.</p>
    </div>
    <div class="container col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center">
        <p class="mt-5 titulo_grafico">Diferencia en el salario percibido entre los años 2008 y 2020</p> 
        <p class="explicacion_grafico">Para los jóvenes de entre 16 y 29 años. En tanto por ciento</p>
        <img class="mt-5 mb-5" src="img/5a.svg" alt="Diferencia en el salario percibido entre los años 2008 y 2020">
        <p class="mt-5 titulo_grafico">Diferencia el Índice de Precios al Consumidor (IPC) entre los años 2008 y 2020</p> 
        <p class="explicacion_grafico">En tanto por ciento</p>
        <img class="mt-5" src="img/5b.svg" alt="Diferencia el Índice de Precios al Consumidor (IPC) entre los años 2008 y 2020">
        <p class="mt-5 fuente">Fuente: Instituto Nacional de Estadística (INE)</p>
    </div>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
            <p class = "mt-5">A todo esto hay que unir una tasa de desempleo que, en 2022 bajaba hasta el 26,26%, pero que aún así se encuentra casi 12 puntos por encima de la existente en 2007.</p>
            <p>La situación actual viene dada, principalmente, por medidas políticas poco favorables, por la ideología neoliberal impuesta con la reforma laboral del año 2012 y por la serie de medidas que los organismos europeos obligaron a tomar a España durante los años de la crisis.</p>
            <p>En general, esta situación no hace sino aumentar la cantidad de jóvenes que se encuentran en situación de pobreza. En el año 2020, un 22,7% de los jóvenes españoles de entre 16 y 29 años se encontraban en situación económica precaria, lo que supone una subida de 4,5 puntos con respecto al año 2008.</p>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <h3 class="text-center mb-3 mt-5 capitulo">En casa hasta los 40</h3>
            <img class="col-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center" src="img/floritura.svg" alt="Floritura">
        </div>
    </div>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
        <p class="mt-5">Los problemas laborales y económicos impiden a los jóvenes españoles poder abandonar el núcleo familiar y crear sus propios hogares. Según Eurostat, un 65,5% de los jóvenes de entre 18 y 34 años sigue conviviendo con sus padres, lo que supone un crecimiento de 12,5 puntos desde el año 2008. Además, esta cifra dista de la media de la UE, que se sitúa en el 49,5%.</p>
        <p>La Encuesta Continua de Hogares recalca, además, que las personas en esta misma franja de edad que sí se han independizado, lo hacen en su mayoría en viviendas de alquiler. Teniendo en cuenta datos de la encuesta del año 2020, un 38,8% de los jóvenes independizados tenían una vivienda en propiedad, frente al 58,1% en 2007. Por el contrario, el porcentaje de jóvenes en régimen de alquiler aumentó en 17 puntos en el mismo periodo, incrementándose desde el 28,4% en 2007 al 45,4% en 2020.</p>
    </div>
    <div class="w-100 h-100 overflow-hidden mt-5">
        <div class="row d-flex justify-content-center">
               <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center mt-3 titulo_grafico">Porcentaje de hogares por régimen de tenencia de la vivienda</p> 
        </div>
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center explicacion_grafico">Para los jóvenes de entre 16 y 34 años</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 mt-5 me-5">
                <p class="subtitulo_grafico">Año 2008</p>
                <img src="img/6a.svg" alt="Porcentaje de hogares por régimen de tenencia de la vivienda. Año 2008">
            </div>
            <div class="col-8 col-xl-3 col-lg-3 col-md-3 col-sm-8 mt-5 me-5">
                <p class="subtitulo_grafico">Año 2020</p>
                <img src="img/6b.svg" alt="Porcentaje de hogares por régimen de tenencia de la vivienda. Año 2020">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-5 fuente">Fuente: Encuesta Continua de Hogares (INE)</p>
        </div>
    </div>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
        <p class="mt-5">La tendencia ha cambiado en la última década, entre otros motivos, por el desenlace del boom inmoviliario previo a la crisis. Además, los intereses hipotecarios, la financiación escasa y el endurecimiento de las condiciones para la concesión de una hipoteca también han influido negativamente.</p>
        <p>Esto no supondría ningún problema si no fuese porque la política de vivienda en España es bastante más débil que en el resto de Europa. Los precios de una vivienda de alquiler de tamaño medio en este país son altos y las políticas existentes no se centran especialmente en su regulación, sino que se basan en ayudas directas (tanto a la persona ofertante como a la demandante) o en incentivos fiscales. Además, existe una escasez generalizada de vivenda de alquiler social o a precio reducido.</p>
        <p>Si se toma como ejemplo la situación de las seis ciudades más grandes del país (Madrid, Barcelona, Valencia, Sevilla, Málaga y Zaragoza), donde reside el 16,2% de toda la población del país, se observa que el precio medio de la vivienda de alquiler sobrepasa el límite recomendado, situado en el 30% del salario medio de cada persona.</p>
        <p>Por tanto, un joven de entre 16 y 34 años que trabaje a jornada completa tendría, según cifras del INE, un sueldo de 1.720 euros y debería de pagar por su vivienda 516 euros o menos. Esto difiere enormemente de la realidad.</p>
        <p>Los siguientes gráficos muestran de forma simultánea tres conceptos relacionados: el <span style="background-color: #ea8f45; opacity:0.9; color: #15202b">precio medio de una vivienda,</span> según el Índice de alquiler de vivienda del Ministerio de Movilidad, Transportes y Agenda Urbana; <span style="background-color: #fbe0a7; opacity:0.9; color: #15202b">precio medio de una vivienda,</span> según el portal inmoviliario Idealista y el <span style="border-bottom: 1pt solid #dddddd;">porcentaje del sueldo</span> que quedaría para otros gastos una vez pagado el alquiler.</p>
    </div>
    <div class="w-100 h-100 overflow-hidden mt-5">
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center mt-3 titulo_grafico">Precio medio del alquiler en las seis ciudades españolas más pobladas en 2019</p> 
        </div>
    </div>
    <section id="scrolly">
            <div class="sticky-thing">
            </div>
            <article class="article-steps">
              <div class="step col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center" data-url='url("img/mapa_alquiler_barcelona_tres.png")'>
                <p><br><br><span class="word">Barcelona</span> se sitúa como la ciudad con el alquiler más caro de toda España, siendo la segunda ciudad más poblada del país, con 1.636.732 habitantes.<br> De media, un piso de unos 85 metros cuadrados (tamaño medio de la vivienda en España), cuesta en la capital catalana 935€, según el Índice de Alquiler de Vivienda y 1.360€, según Idealista.<br> Esto dejaría a un joven que cobre un salario medio de 1.720€ con un 20,94% de su salario para otros gastos.<br> Las áreas del mapa con una tonalidad más oscura representan lás áreas de Barcelona con mayor precio del alquiler. Ocurre al contrario con las áreas más claras.<br><img alt="grafico_prueba" src="img/scrollama_barcelona.svg" style="width: 90%; height:auto; margin-top: 5%; margin-left: 5%;"></p>
              </div>
              <div class="step col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center" data-url='url("img/mapa_alquiler_madrid_cuatro.png")'>
                <p><br><br><span class="word">Madrid </span>se sitúa como la segunda ciudad con el alquiler más caro de toda España, siendo la ciudad más poblada del país, con 3.305.408 habitantes.<br>De media, un piso de unos 85 metros cuadrados (tamaño medio de la vivienda en España), cuesta en la capital española 935€, según el Índice de Alquiler de Vivienda y 1.275€, según Idealista.<br>Esto dejaría a un joven que cobre un salario medio de 1.720€ con un 25,87% de su salario para otros gastos.<br>Las áreas del mapa con una tonalidad más oscura representan lás áreas de Madrid con mayor precio del alquiler. Ocurre al contrario con las áreas más claras.<br><img alt="grafico_prueba" src="img/scrollama_madrid.svg" style="width: 90%; height:auto; margin-top: 5%; margin-left: 5%"></p>
              </div>
              <div class="step col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center" data-url='url("img/mapa_alquiler_sevilla_tres.png")'>
                <p><br><br><span class="word">Sevilla </span>se sitúa como la tercera ciudad con el alquiler más caro de toda España (empatada con Málaga), siendo la cuarta ciudad más poblada del país, con 684.234 habitantes.<br>De media, un piso de unos 85 metros cuadrados (tamaño medio de la vivienda en España), cuesta en la capital andaluza 595€, según el Índice de Alquiler de Vivienda y 850€, según Idealista.<br>Esto dejaría a un joven que cobre un salario medio de 1.720€ con un 50,58% de su salario para otros gastos.<br>Las áreas del mapa con una tonalidad más oscura representan lás áreas de Sevilla con mayor precio del alquiler. Ocurre al contrario con las áreas más claras.<br><img alt="grafico_prueba" src="img/scrollama_malaga.svg" style="width: 90%; height:auto; margin-top: 5%; margin-left: 5%"></p>
              </div>
              <div class="step col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center" data-url='url("img/mapa_alquiler_malaga_tres.png")'>
                <p><br><br><span class="word">Málaga </span>se sitúa como la tercera ciudad con el alquiler más caro de toda España (empatada con Sevilla), siendo la sexta ciudad más poblada del país, con 577.405 habitantes.<br>De media, un piso de unos 85 metros cuadrados (tamaño medio de la vivienda en España), cuesta en la capital andaluza 595€, según el Índice de Alquiler de Vivienda y 850€, según Idealista.<br>Esto dejaría a un joven que cobre un salario medio de 1.720€ con un 50,58% de su salario para otros gastos.<br>Las áreas del mapa con una tonalidad más oscura representan lás áreas de Málaga con mayor precio del alquiler. Ocurre al contrario con las áreas más claras.<br><img alt="grafico_prueba" src="img/scrollama_sevilla.svg" style="width: 90%; height:auto; margin-top: 5%; margin-left: 5%"></p>
              </div>
              <div class="step col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center" data-url='url("img/mapa_alquiler_zaragoza_tres.png")'>
                <p><br><br><span class="word">Zaragoza </span>se sitúa como la quinta ciudad con el alquiler más caro de toda España, siendo la quinta ciudad más poblada del país, con 675.301 habitantes.<br>De media, un piso de unos 85 metros cuadrados (tamaño medio de la vivienda en España), cuesta en la capital aragonesa 510€, según el Índice de Alquiler de Vivienda y 680€, según Idealista.<br>Esto dejaría a un joven que cobre un salario medio de 1.720€ con un 60,47% de su salario para otros gastos.<br>Las áreas del mapa con una tonalidad más oscura representan lás áreas de Zaragoza con mayor precio del alquiler. Ocurre al contrario con las áreas más claras.<br><img alt="grafico_prueba" src="img/scrollama_valencia.svg" style="width: 90%; height:auto; margin-top: 5%; margin-left: 5%"></p>
              </div>
              <div class="step col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center" data-url='url("img/mapa_alquiler_valencia_tres.png")'>
                <p><br><br><span class="word">Valencia </span>se sitúa como la sexta ciudad con el alquiler más caro de toda España, siendo la tercera ciudad más poblada del país, con 789.744 habitantes.<br>De media, un piso de unos 85 metros cuadrados (tamaño medio de la vivienda en España), cuesta en la capital valenciana 425€, según el Índice de Alquiler de Vivienda y 680€, según Idealista.<br>Esto dejaría a un joven que cobre un salario medio de 1.720€ con un 60,47% de su salario para otros gastos.<br>Las áreas del mapa con una tonalidad más oscura representan lás áreas de Valencia con mayor precio del alquiler. Ocurre al contrario con las áreas más claras.<br><img alt="grafico_prueba" src="img/scrollama_zaragoza.svg" style="width: 90%; height:auto; margin-top: 5%; margin-left: 5%"></p>
              </div>
            </article>
    </section>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-5">
        <p>Como se puede observar, la situación puede resultar un poco complicada para los jóvenes españoles que deseen alquilar una vivienda y una de la pocas opciones de las que disponen es la de compartir piso.</p>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <h3 class="text-center mb-3 mt-5 capitulo">Los niños son el futuro, ¿o no?</h3>
            <img class="col-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center" src="img/floritura.svg" alt="Floritura">
        </div>
    </div>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 ">
        <p class="mt-5">En 1981, la natalidad en España descendió de los 2,1 hijos por mujer, número que garantiza el reemplazo generacional de la población. Desde entonces, las cifras han seguido en caída continua, con escasas excepciones y otros indicadores de la natalidad son igual de alarmantes.</p>
        <p>El número de nacimientos por mujer se sitúo en 32,48 por cada 1.000 habitantes en 2020, lo que supone un descenso de 12,2 puntos desde el año 2008. Por el contrario, la edad media de la madre creció 4,6 puntos para el mismo periodo y se sitúo en 32,84.</p>
        <p>Las causas por las que las mujeres en la actualidad tienen menos hijos llevan siendo las mismas desde, aproximadamente, el fin de la dictadura: el desarrollo de la economía, la expansión educativa, la incorporación masiva de la mujer al mercado laboral, el acceso a métodos anticonceptivos, la transformación de las dinámicas familiares y la redefinición de los roles de género, entre otros.</p>
        <p>Estos motivos suponen un problema si se tiene en cuenta que un 81,81% de las mujeres desea tener algún hijo, frente al 18,19% que no quiere tener ninguno.</p>
        <p>Y es que una vez que se tienen hijos, se observa como la tasa de empleo de las mujeres disminuye del 75,1% al 67,2%. Además, en torno a un 25% de las madres que trabajan lo hacen a jornada parcial, frente al 4,13% de los padres.</p>
        <p>Por tanto, hay ocasiones en que los motivos por los que las mujeres deciden no tener hijos se alejan del simple hecho de no querer ser madre.</p>
    </div>
    <div class="w-100 h-100 overflow-hidden mt-5">
        <div class="row d-flex justify-content-center">
               <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center mt-3 titulo_grafico">Mujeres y hombres cuyas parejas no están embarazadas según el motivo para no estarlo</p> 
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <div class="col-8 col-xl-4 col-lg-4 col-md-4 col-sm-8 mt-5 me-3">
                <p class="subtitulo_grafico">Hombres</p>
                <img src="img/7a.svg" alt="">
            </div>
            <div class="col-8 col-xl-4 col-lg-4 col-md-4 col-sm-8 mt-5 ms-3">
                <p class="subtitulo_grafico">Mujeres</p>
                <img class="img_7b" src="img/7b.svg" alt="">
            </div>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-3 fuente">Fuente: Instituto Nacional de Estadística (INE).</p>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center parrafo">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-5">La Encuesta de Fecundidad del INE también recoge los incentivos a la natalidad más importantes para los hombres y mujeres españoles. Si bien la mayoría está de acuerdo en que la natalidad debe ser incentivada, sus demandas se centran en la ampliación de los permisos de natalidad y paternidad u otro tipo de ayudas económicas por parte del Estado.</p>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden mt-5">
        <div class="row d-flex justify-content-center">
               <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 align-self-center mt-3 titulo_grafico">Mujeres y hombres según los incentivos a la natalidad a los que conceden mayor importancia</p> 
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <div class="col-8 col-xl-4 col-lg-4 col-md-4 col-sm-8 mt-5 me-3">
                <p class="subtitulo_grafico">Hombres</p>
                <img src="img/7c.svg" alt="">
            </div>
            <div class="col-8 col-xl-4 col-lg-4 col-md-4 col-sm-8 mt-5 ms-3">
                <p class="subtitulo_grafico">Mujeres</p>
                <img class="img_7b" src="img/7d.svg" alt="">
            </div>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-3 fuente">Fuente: Instituto Nacional de Estadística (INE).</p>
        </div>
    </div>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
        <p class="mt-5">Este problema, el de la natalidad, no es inherente a los millenial o la generación Z. Sin embargo, es una coyuntura más a la que los jóvenes españoles tienen que enfrentarse, debido a la falta de medidas que faciliten los cuidados y la conciliación.</p>
        <p>Con mayores esfuerzos, quizá se podrían alcanzar tasas cercanas a las de la UE, donde las mujeres tienen de media 1,5 hijos y la media de edad de la madre es de 29,5 años.</p>
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center">
            <h3 class="text-center mb-3 mt-5 capitulo">Hay que ser feliz con lo que se tiene</h3>
            <img class="col-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 text-center" src="img/floritura.svg" alt="Floritura">
        </div>
    </div>
    <div class="w-100 h-100 overflow-hidden">
        <div class="row d-flex justify-content-center parrafo">
            <p class="col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-5">La salud mental de los jóvenes españoles no se ve tan resentida como pudiera parecerlo en un primer momento. Si se tienen en cuenta indicadores como la satisfacción que tienen los españoles con su vida en general, las generaciones más jóvenes puntúan más alto. Ocurre al contrario con las mayores.</p>
        </div>
    </div>
    <div class="container col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-5">
        <p class="titulo_grafico">Satisfacción personal que cada individuo tiene con su vida en general</p> 
        <p class="explicacion_grafico">Puntuación del uno al diez según grupos de edad</p>
        <img class="mt-4" src="img/9.svg" alt="Satisfacción personal que cada individuo tiene con su vida en general">
        <p class="mt-5 fuente">Fuente: Instituto Nacional de Estadística (INE)</p>
    </div>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
        <p class="mt-5">Del mismo modo, las cifras de muerte por suicidio decrecen en el grupo de edad de entre 15 y 34 años. Si en el 2002 (primer año del que se tienen datos), las cifras para este grupo de edad se situaban en el 22,57% del total de suicidios, para el 2020 decrecían hasta el 12,86%.</p>
        <p>Sin embargo, sí crece ligeramente el número de jóvenes que sufre ansiedad o depresión crónica. Según datos de la Encuesta Europea de Salud del año 2009, un 1,93% de las personas entre 16 y 34 años padecía depresión crónica y un 3,07%, ansiedad crónica. En el año 2020, las cifras aumentaron para ambos casos, situándose en el 2,14% y 3,75%, respectivamente.</p>
        <p>Por otro lado, los casos de ambas enfermedades crecen conforme la población es más adulta. Este factor, unido a la estigmatización de la salud mental en estos estratos de la población, hacen que el consumo de ansiolíticos y antidepresivos en España sea el mayor de toda la OCDE.</p>
    </div>
    <div class="container col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10 mt-5">
        <p class="mt-5 mb-3 titulo_grafico">Millones de dosis de ansiolíticos consumidos en España, comparado con la media de la OCDE</p> 
        <img class="mt-5" src="img/8a.svg" alt="Millones de dosis de ansiolíticos consumidos en España, comparado con la media de la OCDE">
        <p class="mt-5 titulo_grafico">Millones de dosis de antidepresivos consumidos en España, comparado con la media de la OCDE</p> 
        <img class="mt-5" src="img/8b.svg" alt="Millones de dosis de antidepresivos consumidos en España, comparado con la media de la OCDE">
        <p class="mt-5 fuente">Fuente: Pharmaceutical Market.Pharmaceutical consumption (OCDE)</p>
    </div>
    <div class="container parrafo col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
        <p class="mt-5">Ya han pasado catorce años desde el inicio de la crisis que marcó un antes y un después para el futuro de los jóvenes españoles. Aunque la situación de estos ha evolucionado de forma favorable en la última década y media, las cifras no se parecen en nada a las de 2007. Quizá la situación actual sea solo una coyuntura pasajera más o puede que la vida de los jóvenes españoles no cambie hasta que ellos tomen las riendas de una sociedad en la que todavía mandan sus padres.</p>
    </div>
    <div class="container fuente col-10 col-xl-6 col-lg-6 col-md-6 col-sm-10">
        <p class="mt-5">Todos los datos y material gráfico empleados en la elaboración de este Trabajo de Fin de Máster se encuentran en el siguiente <a href="https://github.com/anadelarue/TFM" class="enlace_datos">enlace</a></p>
    </div>
</article>    


    <!-- Libreria Scrollama -->
    <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
    <script src="https://unpkg.com/scrollama"></script>
    <!-- Libreria AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- Libreria jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- JSs -->
    <script src="js/scrollama.js"></script>
    <script src="js/cambioColor.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div style="display: none;">
        <img src="img/mapa_alquiler_barcelona_tres.png" width="1" height="1" alt="">
        <img src="img/mapa_alquiler_madrid_cuatro.png" width="1" height="1" alt="">
        <img src="img/mapa_alquiler_malaga_tres.png" width="1" height="1" alt="">
        <img src="img/mapa_alquiler_valencia_tres.png" width="1" height="1" alt="">
        <img src="img/mapa_alquiler_sevilla_tres.png" width="1" height="1" alt="">
        <img src="img/mapa_alquiler_zaragoza_tres.png" width="1" height="1" alt="">
    </div>
      

</body>
</html>