<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main_embalses.css" type ="text/css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Embalses</title>
</head>
<body>
    <main>
        <div class="header_container">
            <video autoplay muted class="fullscreen-bg__video" id="videocabecera" loop>
            <source src="video/video_portada_embalses.mp4" alt="vídeo cabecera">
            </video>
            <div class="titulo_content">
            <h1 class="titulo">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
            <p class="titulito">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellendus expedita, dolorum quisquam quam incidunt temporibus voluptatum facilis nisi? Nisi, suscipit?</p>
            </div>
        </div>
        <div class="autor_fecha">
            <p class="autor">Lorem ipsum dolor</p>
            <p class="fecha">Lorem ipsum dolor</p>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>
        <div class="titulo_grafico">
            <p class="titulo_grafico_uno">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
            <p class="descripcion_grafico_uno">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet laboriosam totam est officia. Omnis, voluptates voluptatum</p>
        </div>
        <%- include('../template/precipitaciones.html')-%>
        <div class="pie_pagina">
            <p>Fuente: API Agencia Estatal de Meteorología (AEMET)</p>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>
        <div class="titulo_grafico">
            <p class="titulo_grafico_uno">Lorem ipsum dolor</p>
        </div>
        <%- include('../template/hectareas_bayas.html')-%>
        <div class="pie_pagina">
            <p>Fuente: FRESHUELVA</p>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>
        <section id="scrolly">
            <div class="sticky-thing">
            </div>
        
            <article class="article-steps">
              <div class="step" data-url='url("img/2004.jpg")'>
                <p>Doñana. Año 2004</p>
              </div>
              <div class="step" data-url='url("img/2011.jpg")'>
                <p>Doñana. Año 2011</p>
              </div>
              <div class="step" data-url='url("img/2020.jpg")'>
                <p>Doñana. Año 2020</p>
              </div>
              <div class="step" data-url='url("img/2020.jpg")'>
                <p>Doñana. Año 2020</p>
              </div>
            </article>
          </section>
        <div class="pie_pagina_dos">
            <p>Vista aérea de La Laguna de Santa Olalla en la última década. Google Earth.</p>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>
        <div class="imagen_donana_grande">
            <img src="img/donana_outline.png" alt="">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
        </div>
        <div class="pie_pagina">
            <p>Fuente: Copernicus</p>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>
        <div class="img_rocio">
            <div class="foto_rocio">
            <img src="img/rocio_invernaderos.png" alt="">
            </div>
            <div class="texto_flex">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, dolorum quod! Quo dolor quidem necessitatibus repudiandae error corrupti animi eos provident dolore, velit ex doloremque reprehenderit, a doloribus, ad vitae!</p>
            </div>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>
        <div class="titulo_grafico">
            <p class="titulo_grafico_uno">Lorem ipsum dolor</p>
        </div>

        <%- include('../template/hectareas_olivar.html')-%>
        <div class="pie_pagina">
            <p>Fuente: Anuario de estadísticas agrarias y pesqueras de Andalucía</p>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>
        <div class="titulo_grafico">
            <p class="titulo_grafico_uno">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
            <p class="descripcion_grafico_uno">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet laboriosam totam est officia. Omnis, voluptates voluptatum</p>
        </div>
        <%- include('../template/volumen_embalses.html')-%>
        <div class="pie_pagina">
            <p>Fuente: Confederación Hidrográfica del Guadalquivir</p>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>
        <div class="embalse_iznajar">
            <div class="foto_embalse_iznajar">
            <img src="img/embalse_iznajar.png" alt="">
            </div>
            <div class="texto_flex_iznajar">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, dolorum quod! Quo dolor quidem necessitatibus repudiandae error corrupti animi eos provident dolore, velit ex doloremque reprehenderit, a doloribus, ad vitae!</p>
            </div>
        </div>
        <div class="wrapper">
            <p class="text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te
            </p>
        </div>




        
        

    </main>
    <!-- Libreria Scrollama -->
    <script src="https://unpkg.com/intersection-observer@0.5.1/intersection-observer.js"></script>
    <script src="https://unpkg.com/scrollama"></script>
    <script src="js/scrollama_embalses.js"></script>
</body>
</html>