<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="nav-link" href="/adele">Adele</a>
    <a class="nav-link" href="/spotify20">El Monotema</a>
    <a class="nav-link" href="/otan">OTAN</a>
    <a class="nav-link" href="/oscar">Oscars</a>
    <a class="nav-link" href="/embalses">Embalses</a>
    <a class="nav-link" href="/ayuso">Ayuso</a>
    <a class="nav-link" href="/alquiler">Alquiler</a>
    <a class="nav-link" href="/despoblacion">Chloé Zhao</a>
    <a class="nav-link" href="/ucrania">Ucrania</a>
    <a class="nav-link" href="/prueba_tabla">Tabla Alquiler</a>

</body>
</html>