<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana's Portfolio</title>
    <!-- Estilos bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Fuentes Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">    <!-- Estilos AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" />  
    <link href="css/main.css" rel="stylesheet">
    
</head>
<body>


  <nav class="navbar navbar-expand fixed-top d-inline" aria-label="Eighth navbar example">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"><img class="imagen_toggle" src="img/img_galeria/burger.png"></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#portfolio">Portfolio</a></li>
              <li><a class="dropdown-item" href="/about">About</a></li>
              <li><a class="dropdown-item" href="/contact">Contact</a></li>
              <li><a class="dropdown-item" href="/"><b>Spanish</b></a></li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="#" class="navbar-brand">Ana's Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
  <div class="container vh-100">
    <div class="d-flex h-100 align-items-center">
      <div class="w-100 ms-3">
        <h1 class="apertura">Hi, I'm Ana-</h1>
        <h2 class="parrafo_apertura">Come on in, sit down and learn something new</h2>
        <a href="/sobremi" class="sobre_mi_enlace">About >></a>
      </div>
    </div>
  </div>
  <div class="w-100 h-100 overflow-hidden mt-5">
    <div class="row">
      <h3 class="titulo_seccion">Portfolio</h3>
    </div>    
    <div class="row d-flex justify-content-center">
        <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
          <a href="/projecti">
          <div class="img-overlay">    
          <img class="imagen_articulo" src="img/img_galeria/1.3.PNG">
          <div class="overlay">
            <div class="text">Backlit</div>
          </div>
          </div>
          </a>     
          <p class="titulo_proyecto">Project I</p>
          <p class="fecha_proyecto">June - September 2020</p>
        </div>
        <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
          <a href="/projectii">
            <div class="img-overlay">    
            <img class="imagen_articulo" src="img/img_galeria/2.3.PNG">
            <div class="overlay">
              <div class="text">Spotify API data extraction</div>
            </div>
            </div>
            </a>     
            <p class="titulo_proyecto">Project II</p>
            <p class="fecha_proyecto">February 2022</p>  
        </div>
    </div>
</div>
<div class="w-100 h-100 overflow-hidden mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
        <a href="/projectiii">
        <div class="img-overlay">    
        <img class="imagen_articulo" src="img/img_galeria/3.3.PNG">
        <div class="overlay">
          <div class="text">Draught at river Guadalquivir</div>
        </div>
        </div>
        </a>     
        <p class="titulo_proyecto">Project III</p>
        <p class="fecha_proyecto">February 2022</p>
      </div>
      <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
        <a href="/projectiv">
          <div class="img-overlay">    
          <img class="imagen_articulo" src="img/img_galeria/4.3.PNG">
          <div class="overlay">
            <div class="text">Spotify API data extraction 2.0.</div>
          </div>
          </div>
          </a>     
          <p class="titulo_proyecto">Project IV</p>
          <p class="fecha_proyecto">February - March 2022</p>  
      </div>
  </div>
</div>
<div class="w-100 h-100 overflow-hidden mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
        <a href="/projectv">
        <div class="img-overlay">    
        <img class="imagen_articulo" src="img/img_galeria/8.1.PNG">
        <div class="overlay">
          <div class="text">Popular Party crisis</div>
        </div>
        </div>
        </a>     
        <p class="titulo_proyecto">Project V</p>
        <p class="fecha_proyecto">February - March 2022</p>
      </div>
      <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
        <a href="/projectvi">
          <div class="img-overlay">    
          <img class="imagen_articulo" src="img/img_galeria/6.1.PNG">
          <div class="overlay">
            <div class="text">Ukraine war through RevealJS</div>
          </div>
          </div>
          </a>     
          <p class="titulo_proyecto">Project VI</p>
          <p class="fecha_proyecto">March 2022</p>  
      </div>
  </div>
</div>
<div class="w-100 h-100 overflow-hidden mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
        <a href="/projectvii">
        <div class="img-overlay">    
        <img class="imagen_articulo" src="img/img_galeria/5.1.PNG">
        <div class="overlay">
          <div class="text">NATO, its developement and relationship with Russia</div>
        </div>
        </div>
        </a>     
        <p class="titulo_proyecto">Project VII</p>
        <p class="fecha_proyecto">March - April 2022</p>
      </div>
      <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
        <a href="/projectviii">
          <div class="img-overlay">    
          <img class="imagen_articulo" src="img/img_galeria/7.1.PNG">
          <div class="overlay">
            <div class="text">Oscars have a genre, male</div>
          </div>
          </div>
          </a>     
          <p class="titulo_proyecto">Project VIII</p>
          <p class="fecha_proyecto">April 2022</p>  
      </div>
  </div>
</div>
<div class="w-100 h-100 overflow-hidden mt-5">
  <div class="row d-flex justify-content-center">
      <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
        <a href="/projectix">
        <div class="img-overlay">    
        <img class="imagen_articulo" src="img/img_galeria/9.1.PNG">
        <div class="overlay">
          <div class="text">Spanish young people and the rent drama</div>
        </div>
        </div>
        </a>     
        <p class="titulo_proyecto">Project IX</p>
        <p class="fecha_proyecto">April 2022</p>
      </div>
      <div class="col-10 col-xl-5 col-lg-5 col-md-5 col-sm-10">
        <a href="/projectx">
          <div class="img-overlay">    
          <img class="imagen_articulo" src="img/img_galeria/10.2.PNG">
          <div class="overlay">
            <div class="text">Glass generation, about to break</div>
          </div>
          </div>
          </a>     
          <p class="titulo_proyecto">Project X</p>
          <p class="fecha_proyecto">May - June 2022</p>  
      </div>
  </div>
</div>
<div class="contacto_uno overflow-hidden">
  <div class="row d-flex justify-content-center">
  <p class="col-8 col-xl-8 col-lg-8 col-md-6 col-sm-8 contacto_uno_texto">6399440466 / annaruiz982@gmail.com / <a href="pdf/resume_Ana_Ruiz_Espinar.pdf" download class="contacto_uno_enlace">download resume</a></p>
  </div>
  <div class="row d-flex justify-content-center contacto">
    <div class="col-8 col-xl-6 col-lg-6 col-md-6 col-sm-8 text-center">
        <a class="m-2" href="https://twitter.com/anabelruizaire"><img class="iconos_rrss" src="img/img_galeria/twitter.png" id="twitter" alt="Twitter"></a>
        <a class="m-2" href="https://www.linkedin.com/in/ana-ruiz-espinar-171721197/"><img class="iconos_rrss" src="img/img_galeria/linkedin.png" id="twitter" alt="Linkedin"></a>
    </div>
  </div>
</div>

    
    


    <!-- Libreria AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
    
</body>
</html>