<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/main_otan.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display&display=swap" rel="stylesheet">
  <title>OTAN</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Estilos bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" />  

  <script>
    const myFunction = () => {
  document.getElementById("first").style.display ='block';
  document.getElementById("second").style.display ='none'
  document.getElementById("third").style.display ='none'
  document.getElementById("fourth").style.display ='none'
  document.getElementById("fifth").style.display ='none'      
}

const myFunction2 = () => {
  document.getElementById("second").style.display ='block'
  document.getElementById("first").style.display ='none'
  document.getElementById("third").style.display ='none'
  document.getElementById("fourth").style.display ='none'
  document.getElementById("fifth").style.display ='none'
}

const myFunction3 = () => {
  document.getElementById("third").style.display ='block'
  document.getElementById("first").style.display ='none'
  document.getElementById("second").style.display ='none'
  document.getElementById("fourth").style.display ='none'
  document.getElementById("fifth").style.display ='none'
}
const myFunction4 = () => {
  document.getElementById("fourth").style.display ='block'
  document.getElementById("first").style.display ='none'
  document.getElementById("second").style.display ='none'
  document.getElementById("third").style.display ='none'
  document.getElementById("fifth").style.display ='none'
}
const myFunction5 = () => {
  document.getElementById("fifth").style.display ='block'
  document.getElementById("first").style.display ='none'
  document.getElementById("second").style.display ='none'
  document.getElementById("third").style.display ='none'
  document.getElementById("fourth").style.display ='none'
}
  </script>
</head>
<body>
<div class="container-fluid background vh-100 vw-100">
    <div class="row d-flex justify-content-end">
        <h1 class="col-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 texto_titulo">Lorem ipsum</h1>
        <p class="col-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 subtitulo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
        <p class="col-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 nombre">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
    <hr class="col-5 col-xl-6 col-lg-6 col-md-6 col-sm-6 mt-5 mb-4 linea1">
    <p class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 parrafo_lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
    <hr class="col-5 col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-4 linea2">
    </div>
</div>
<div class="container">
<div class="row d-flex justify-content-center parrafo">
    <p class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
</div>
</div>
<div class="container">
<div class="row d-flex justify-content-center parrafo mt-5">
  <h2 class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 titulo_grafico_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
  <p class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 subtitulo_grafico_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
</div>
</div>
<%-include('../template/fecha_incorporacion.html')-%>
<div class="container">
  <div class="row d-flex justify-content-center parrafo mt-5">
    <p class="fuente col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet</p>
    <p class="texto col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    <p class="texto col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
    <h2 class="titulo_grafico_2 col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
    <p class="subtitulo_grafico_2 col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
</div>
</div>
<%-include('../template/bases_militares.html')-%>
<div class="container">
  <div class="row d-flex justify-content-center parrafo mt-3">
    <p class="fuente col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet</p>
    <p class="texto col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    <h2 class="titulo_grafico col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h2>
    <p class="subtitulo_grafico col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
</div>
</div>
<%-include('../template/evolucion_gasto_militar.html')-%>
<div class="container">
  <div class="row d-flex justify-content-center parrafo mt-3">
    <p class="fuente col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet</p>
    <p class="texto col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    <p class="texto col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    <h4 class="titulo_interactivo col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 mt-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
  </div>
</div>
<%-include('../template/linea_otan_rusia.html')-%>
<div class="container">
  <div class="row d-flex justify-content-center parrafo mt-3">
    <p class="texto col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    <p class="texto col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
    <h4 class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 titulo_interactivo mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</h4>
    <h4 class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 subtitulo_interactivo">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</h4>
  </div>
</div>
<div class="container">
  <button class="b1" onClick="myFunction()">1992</button>
  <button class="b2" onClick="myFunction2()">2008</button>
  <button class="b3" onClick="myFunction3()">2014</button>
  <button class="b4" onClick="myFunction4()">2015</button>
  <button class="b5" onClick="myFunction5()">2022</button>
</div>
<div class="content d-flex justify-content-center">
  <div class="imagen col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" id="first">
      <img class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" src="../img/mapa_conflictos_moldavia.png"/>
      <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
  <div class="imagen col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" id="second"><img class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" src="../img/mapa_conflictos_georgia.png"/> 
    <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
  <div class="imagen col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" id="third"><img class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" src="../img/mapa_conflictos_crimea.png"/> 
    <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
  <div class="imagen col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" id="fourth"><img class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" src="../img/mapa_conflictos_siria.png"/> 
    <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
  <div class="imagen col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" id="fifth"><img class="col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10" src="../img/mapa_conflictos_ucrania.png"/> 
    <p class="texto_imagen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi saepe quasi similique facilis illum rem perspiciatis animi nesciunt</p>
    </div>
</div>
<div class="container">
  <div class="row d-flex justify-content-center parrafo mt-3">
  <p class="fuente col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10">Lorem ipsum dolor sit amet</p>
  <p class="texto col-10 col-xl-8 col-lg-8 col-md-8 col-sm-10 mb-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
  </div>
</div>





  



    

    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>

</body>
</html>
    
    
