<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/main_spotify20.css">
  <title>El monotema. Un análisis de la música más escuchada en Spotify España</title>
</head>

<body class="page">
    <div class="picture">
        <img class="main_pic" src="img/portada2.png">
        <h1 class="titular">El monotema</h1>
        <h2 class="subtitulo">Un análisis de la música más escuchada en Spotify España</h2>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <div class="titulo_graf">
    <h2 class="titulo_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
    <h3 class="titulo_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</h3>
    </div>
    <%- include('../template/grafico-2.html')-%>
    <div class="tablas">
    <table class="myTable1">
        <tr>
            <td>
            <p class="nombre">1. Rauw Alejandro</p>
            <p class="oyentes">38,9 m. oyentes mensuales (6 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">2. Bad Bunny</p>
            <p class="oyentes">46,2 m. oyentes mensuales (5 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">3. Bizarrap</p>
            <p class="oyentes">46,2 m. oyentes mensuales (5 temas)</p>
            </td>
            
        </tr> 
        <tr>
            <td>
            <p class="nombre">4. Quevedo</p>
            <p class="oyentes">5,52 m. oyentes mensuales (3 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">5. C. Tangana</p>
            <p class="oyentes">10,3 m. oyentes mensuales (3 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">6. Tiago PZK</p>
            <p class="oyentes">14,5 m. oyentes mensuales (3 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">7. Duki</p>
            <p class="oyentes">16,6 m. oyentes mensuales (3 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">8. Morad</p>
            <p class="oyentes">6,4 m. oyentes mensuales (2 temas)</p>
            </td>
            
        </tr>
    </table>
    <table class="myTable2">
        <tr>
            <td>
            <p class="nombre">9. Jhay Cortez</p>
            <p class="oyentes">26,1 m. oyentes mensuales (2 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">10. ROSALÍA</p>
            <p class="oyentes">21,7 m. oyentes mensuales (2 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">11. Aitana</p>
            <p class="oyentes">17,9 m. oyentes mensuales (2 temas)</p>
            </td>
            
        </tr> 
        <tr>
            <td>
            <p class="nombre">12. Trueno</p>
            <p class="oyentes">11,6 m. oyentes mensuales (2 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">13. Justin Quiles</p>
            <p class="oyentes">21,5 m. oyentes mensuales (2 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">14. KAROL G</p>
            <p class="oyentes">35,8 m. oyentes mensuales (2 temas)</p>
            </td>
            
        </tr>
        <tr>
            <td>
            <p class="nombre">15. Nicki Nicole</p>
            <p class="oyentes">15,8 m. oyentes mensuales (2 temas)</p>
            </td>
            
        </tr>
    </table>
    </div>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <%- include('../template/grafico-3.html')-%>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <%- include('../template/grafico-4.html')-%>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    <div class="titulo_graf">
    <h2 class="titulo_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h2>
    <h3 class="titulo_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h3>
    </div>
    <%- include('../template/pie-chart.html')-%>
    <div class="parrafo">
    <p class="texto">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
    </div>
    
    <table id="myTable">
  <tr>
   <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->  
    <th class="header" onclick="sortTable(0)">#</th>
    <th class="header" onclick="sortTable(1)">Artista</th>
    <th class="header" onclick="sortTable(2)">Tema</th>
    <th class="header" onclick="sortTable(3)">Idioma</th>
    <th class="header" onclick="sortTable(4)">Popularidad</th>
    <th class="header" onclick="sortTable(5)">Género</th>
    <th class="header" onclick="sortTable(6)">Fecha de lanzamiento</th>
  </tr>
  <tr>
    <td>01</td>
    <td>La Pantera, Quevedo, Juseph, Abhir Hathi, Bejo, Cruz Cafuné</td>
    <td>Cayó La Noche (feat. Cruz Cafuné, Abhir Hathi, Bejo, EL IMA) [Remix]</td>	
    <td class="español">Español</td>
    <td>87</td>
    <td class="rap">Rap</td>
    <td>2022-01-14</td>
  </tr>
  <tr>
    <td>02</td>
    <td>Becky G, KAROL G</td>
    <td>MAMIII</td>	
    <td class="español">Español</td>
    <td>89</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2022-02-11</td>
  </tr>
  <tr>
    <td>03</td>
    <td>Rauw Alejandro, Chencho Corleone</td>
    <td>Desesperados</td>	
    <td class="español">Español</td>
    <td>89</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-12-10</td>
  </tr>
  <tr>
    <td>04</td>
    <td>Morad</td>
    <td>Pelele</td>	
    <td class="español">Español</td>
    <td>83</td>
    <td class="trap">Trap</td>
    <td>2021-12-24</td>
  </tr>
  <tr>
    <td>05</td>
    <td>Bizarrap, Tiago PZK</td>
    <td>Tiago PZK: Bzrp Music Sessions, Vol. 48</td>	
    <td class="español">Español</td>
    <td>90</td>
    <td class="trap">Trap/hip hop latino</td>
    <td>2021-12-29</td>
  </tr>
  <tr>
    <td>06</td>
    <td>Quevedo, Linton</td>
    <td>Ahora Y Siempre</td>	
    <td class="español">Español</td>
    <td>79</td>
    <td class="rap">Rap/trap</td>
    <td>2021-12-11</td>
  </tr>
  <tr>
    <td>07</td>
    <td>Sebastian Yatra</td>
    <td>Tacones Rojos</td>	
    <td class="español">Español</td>
    <td>78</td>
    <td class="pop">Pop</td>
    <td>2022-01-28</td>
  </tr>
  <tr>
    <td>08</td>
    <td>zzoilo, Aitana</td>
    <td>Mon Amour - Remix</td>	
    <td class="español">Español</td>
    <td>93</td>
    <td class="pop">Pop</td>
    <td>2021-08-18</td>
  </tr>
    <tr>
    <td>09</td>
    <td>C. Tangana, Omar Montes, Daviles de Novelda,  Canelita</td>
    <td>La Culpa (feat. Canelita)</td>	
    <td class="español">Español</td>
    <td>63</td>
    <td class="flamenco">flamenco urbano</td>
    <td>2022-02-18</td>
  </tr>
   <tr>
    <td>10</td>
    <td>Rigoberta Bandini</td>
    <td>Ay Mamá</td>	
    <td class="español">Español</td>
    <td>80</td>
    <td class="pop">Pop</td>
    <td>2021-12-23</td>
  </tr>
    <tr>
    <td>11</td>
    <td>Chema Rivas</td>
    <td>Algodón de azúcar</td>	
    <td class="español">Español</td>
    <td>78</td>
    <td class="pop">Pop</td>
    <td>2022-01-04</td>
  </tr>
    <tr>
    <td>12</td>
    <td>Jhay Cortez, Anuel AA</td>
    <td>Ley Seca</td>	
    <td class="español">Español</td>
    <td>86</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-09-03</td>
  </tr>
   <tr>
    <td>13</td>   
    <td>Bizarrap, Morad</td>
    <td>Morad: Bzrp Music Sessions, Vol. 47</td>
    <td class="español">Español</td>
    <td>83</td>
    <td class="trap">trap/hip hop latino</td>
    <td>2021-12-08</td>
  </tr> 
    <tr>
    <td>14</td>
    <td>Tiago PZK, Trueno</td>
    <td>Salimo de Noche</td>
    <td class="español">Español</td>
    <td>89</td>
    <td class="trap">Trap</td>
    <td>2021-10-21</td>
  </tr>
    <tr>
    <td>15</td>    
    <td>Rvfv, Rels B</td>
    <td>Mi Luz (ft. Rels B)</td>
    <td class="español">Español</td>
    <td>74</td>
    <td class="trap">trap latino</td>
    <td>2022-01-28</td>
  </tr>
    <tr>
    <td>16</td>    
    <td>Duki</td>
    <td>TOP 5</td>
    <td class="español">Español</td>
    <td>86</td>
    <td class="trap">Trap</td>
    <td>2021-11-25</td>
  </tr>
    <tr>
    <td>17</td>
    <td>C. Tangana, Nathy Peluso</td>
    <td>Ateo</td>
    <td class="español">Español</td>
    <td>52</td>
    <td class="bachata">Bachata</td>
    <td>2022-02-18</td>
  </tr>
    <tr>
    <td>18</td>
    <td>Jhay Cortez</td>
    <td>Dile (Homenaje)</td>
    <td class="español">Español</td>
    <td>81</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-09-03</td>
  </tr>
     <tr>
    <td>19</td>
    <td>Mora, Bad Bunny, Sech</td>
    <td>Volando - Remix</td>
    <td class="español">Español</td>
    <td>90</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-07-08</td>
  </tr>
    <tr>
    <td>20</td> 
    <td>Rvssian, Rauw Alejandro, Chris Brown</td>
    <td>Nostálgico</td>
    <td class="español">Español</td>
    <td>90</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-09-08</td>
  </tr>
    <tr>
    <td>21</td>
    <td>Rauw Alejandro</td>
    <td>Cúrame</td>
    <td class="español">Español</td>
    <td>87</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-12-10</td>
  </tr>
    <tr>
    <td>22</td>
    <td>Bad Bunny</td>
    <td>Yonaguni</td>
    <td class="español">Español</td>
    <td>94</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-06-04</td>
  </tr>
   <tr>
    <td>23</td>
    <td>Rauw Alejandro</td>
    <td>Todo de ti</td>
    <td class="español">Español</td>
    <td>83</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-12-10</td>
  </tr>
    <tr>
    <td>24</td>    
    <td>ROSALÍA, The Weeknd</td>
    <td>LA FAMA (with The Weeknd)</td>
    <td class="español">Español</td>
    <td>88</td>
    <td class="bachata">Bachata</td>
    <td>2021-11-11</td>
  </tr>
    <tr>
    <td>25</td>
    <td>Ana Mena</td>
    <td>Música Ligera</td>
    <td class="español">Español</td>
    <td>77</td>
    <td class="pop">Latin pop</td>
    <td>2021-11-25</td>
  </tr>
    <tr>
    <td>26</td>
    <td>Aitana, Nicki Nicole</td>
    <td>Formentera</td>
    <td class="español">Español</td>
    <td>81</td>
    <td class="pop">Pop</td>
    <td>2021-12-02</td>
  </tr>
    <tr>
    <td>27</td>
    <td>Myke Towers</td>
    <td>Experimento</td>
    <td class="español">Español</td>
    <td>84</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-09-23</td>
  </tr>
   <tr>
    <td>28</td>
    <td>Ryan Castro</td>
    <td>Mujeriego</td>
    <td class="español">Español</td>
    <td>87</td>
    <td class="trap">Trap</td>
    <td>2021-12-17</td>
  </tr> 
    <tr>
    <td>29</td>
    <td>Bad Bunny</td>
    <td>120</td>
    <td class="español">Español</td>
    <td>85</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2020-11-27</td>
  </tr>
    <tr>
    <td>30</td>
    <td>Quevedo, BlueFire</td>
    <td>Respuesta Cero</td>
    <td class="español">Español</td>
    <td>73</td>
    <td class="rap">Rap/trap</td>
    <td>2022-02-05</td>
  </tr>
    <tr>
    <td>31</td>    
    <td>KG970, Kilvertz</td>
    <td>Cínico</td>
    <td class="español">Español</td>
    <td>74</td>
    <td class="rap">Rap</td>
    <td>2022-01-21</td>
  </tr>
    <tr>
    <td>32</td>    
    <td>Blessd, Justin Quiles, Lenny Tavárez</td>
    <td>Medallo</td>
    <td class="español">Español</td>
    <td>92</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-10-27</td>
  </tr>
    <tr>
    <td>33</td>    
    <td>Fuego, Manuel Turizo, Duki</td>
    <td>Una Vaina Loca</td>
    <td class="español">Español</td>
    <td>85</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-10-21</td>
  </tr>
    <tr>
    <td>34</td>    
    <td>Farruko</td>
    <td>Pepas</td>
    <td class="español">Español</td>
    <td>86</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-10-21</td>
  </tr>
    <tr>
    <td>35</td>    
    <td>Cano, Los del Control </td>
    <td>Tu Y Yo (feat. Los del Control)</td>
    <td class="español">Español</td>
    <td>76</td>
    <td class="flamenco">flamenco urbano</td>
    <td>2021-10-29</td>
  </tr>
    <tr>
    <td>36</td>    
    <td>Duki, KHEA</td>
    <td>She Don't Give a Fo</td>
    <td class="español">Español</td>
    <td>82</td>
    <td class="trap">Trap</td>
    <td>2018-03-12</td>
  </tr>
    <tr>
    <td>37</td>    
    <td>Beny Jr, El Guincho</td>
    <td>Combo la L</td>
    <td class="español">Español</td>
    <td>75</td>
    <td class="trap">Trap</td>
    <td>2021-06-25</td>
  </tr>
    <tr>
    <td>38</td>    
    <td>C. Tangana</td>
    <td>Demasiadas Mujeres</td>
    <td class="español">Español</td>
    <td>79</td>
    <td class="urbano">Urbano</td>
    <td>2021-02-26</td>
  </tr>
    <tr>
    <td>39</td>    
    <td>Eladio Carrion, KAROL G </td>
    <td>No Te Deseo el Mal</td>
    <td class="español">Español</td>
    <td>83</td>
    <td class="trap">Trap</td>
    <td>2021-12-02</td>
  </tr>
    <tr>
    <td>40</td>    
    <td>Aventura, Bad Bunny</td>
    <td>Volví</td>
    <td class="español">Español</td>
    <td>91</td>
    <td class="bachata">Bachata</td>
    <td>2021-08-03</td>
  </tr>
    <tr>
    <td>41</td>    
    <td>El Taiger, DJ Conds</td>
    <td>La Historia</td>
    <td class="español">Español</td>
    <td>77</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2020-10-23</td>
  </tr>
    <tr>
    <td>42</td>    
    <td>Trueno, Randy, Bizarrap</td>
    <td>JUNGLE</td>
    <td class="español">Español</td>
    <td>68</td>
    <td class="hiphop">Hip hop</td>
    <td>2022-02-17</td>
  </tr>
    <tr>
    <td>43</td>    
    <td>Rauw Alejandro</td>
    <td>Caprichoso</td>
    <td class="español">Español</td>
    <td>78</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2022-02-07</td>
  </tr>
    <tr>
    <td>44</td>    
    <td>El Bobe, alPeDue</td>
    <td>Ella</td>
    <td class="español">Español</td>
    <td>73</td>
    <td class="trap">Trap</td>
    <td>2021-03-31</td>
  </tr>
    <tr>
    <td>45</td>    
    <td>Marc Seguí, Rauw Alejandro, Pol Granch</td>
    <td>Tiroteo - Remix</td>
    <td class="español">Español</td>
    <td>87</td>
    <td class="pop">Pop</td>
    <td>2021-04-01</td>
  </tr>
    <tr>
    <td>46</td>    
    <td>Tiago PZK, LIT killah, Maria Becerra, Nicki Nicole</td>
    <td>Entre Nosotros (Remix) [con Nicki Nicole]</td>
    <td class="español">Español</td>
    <td>89</td>
    <td class="trap">Trap</td>
    <td>2022-01-05</td>
  </tr>
    <tr>
    <td>47</td>    
    <td>Justin Quiles, Chimbala, Zion & Lennox</td>
    <td>Loco</td>
    <td class="español">Español</td>
    <td>75</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-08-19</td>
  </tr>
    <tr>
    <td>48</td>    
    <td>ROSALÍA</td>
    <td>SAOKO</td>
    <td class="español">Español</td>
    <td>83</td>
    <td class="urbano">Urbano</td>
    <td>2022-02-04</td>
  </tr>
    <tr>
    <td>49</td>
    <td>Tainy, Bad Bunny, Julieta Venegas</td>
    <td>Lo Siento BB:/ (with Bad Bunny & Julieta Venegas)</td>
    <td class="español">Español</td>
    <td>94</td>
    <td class="reggaeton">Reggaeton</td>
    <td>2021-10-05</td>
  </tr>
    <tr>
    <td>50</td>
    <td>Elton John, Dua Lipa, PNAU</td>
    <td>Cold Heart - PNAU Remix</td>
    <td class="ingles">Inglés</td>
    <td>86</td>
    <td class="pop">Pop</td>
    <td>2021-10-22</td>
  </tr>
</table>
</body>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</html>