<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="reveal_js/dist/reset.css">
		<link rel="stylesheet" href="reveal_js/dist/reveal.css">
		<link rel="stylesheet" href="reveal_js/dist/theme/black.css">
<style>
    .reveal .progress{
        color: gold;
    }
    .reveal .controls .controls-arrow{
        color: gold;
    }
    section{
        padding: 0px;
        margin: 0px;
    }
    p{
        position: absolute;
        font-family: "Helvetica";
        font-size: 20pt;
        color: white;
        text-shadow: 1px 1px black;
    }
    .reveal h1{
        text-transform: none;
        font-family: 'Cambria';
        position: absolute;
        font-size: 40pt;
        color: black;
        margin-top: 42%;
        background-color: gold;
    }
    .sobretitulo{
        color: white;
        padding-top: 35%;
    }
    .explicacion_titulo{
        padding-top: 48%;
        text-align: left;
        padding-right: 20%;
    }
    .explicacion_controles{
        padding-top: 58%;
        text-align: left;
        padding-right: 40%;
        font-size: 12pt;
        line-height: 80%;
        color:gray;
    } 
    .sobretitulo_parte1{
        color: white;
        padding-top: 36%;
        font-family: "Helvetica";
        text-align: left;
    }
    .parrafo{
        padding-top: 48%;
        text-align: left;
        padding-right: 10%;
        font-family: "Cambria"
    }
    .reveal p.titulo_seccion{
        text-transform: none;
        text-align: left;
        font-family: "Helvetica";
        font-size: 25pt;
        font-weight: bold;
        color: black;
        margin-top: 50%;
        background-color: gold;
    }
    .reveal p.parrafo_seccion{
        text-align: left;
        font-family: "Cambria";
        color: white;
        font-size: 18pt;
        padding-top: 53%;
    }
    .parrafo_seccion2{
        text-align: left;
        font-family: "Cambria";
        color: white;
        font-size: 18pt;
        padding-top: 55%;
    }
    .nombre{
        text-align: left;
        font-family: "Cambria";
        color: white;
        font-size: 20pt;
        padding-top: 30%;
    }
    .fecha{
        text-align: left;
        font-family: "Helvetica";
        color: white;
        font-size: 12pt;
        padding-top: 35%;
    }
    .fuentes_portada{
        padding-top: 64%;
        text-align: left;
        padding-right: 40%;
        font-size: 12pt;
        line-height: 80%;
        color:gray;
    }
    .fuentes{
        padding-top: 65%;
        text-align: left;
        padding-right: 40%;
        font-size: 12pt;
        line-height: 80%;
        color:gray;
    }
    .fuentes_21{
        padding-top: 57%;
        text-align: left;
        padding-right: 40%;
        font-size: 12pt;
        line-height: 80%;
        color:gray;
    }
    .fuentes_dia2{
        padding-top: 61%;
        text-align: left;
        padding-right: 40%;
        font-size: 12pt;
        line-height: 80%;
        color:gray;
    }
    .fuentes_dia6{
        padding-top: 67%;
        text-align: left;
        padding-right: 40%;
        font-size: 12pt;
        line-height: 80%;
        color:gray;
    }
    .fuentes_subtitulos{
        text-align: left;
        padding-right: 40%;
        font-size: 18pt;
        line-height: 80%;
        color:gray;
    }
    .imagen_diapositiva{
        position: fixed;
        width: 40%;
        height: auto;
        right: -25%;
        -webkit-box-shadow: 5px 5px 15px 5px #000; 
        box-shadow: 5px 5px 15px 5px #000;
    }
    .fuentes_video_solo{
        text-align: left;
        right: -25%;
        font-size: 12pt;
        line-height: 80%;
        color:white; 
    }

</style>
		<!-- Theme used for syntax highlighted code -->
		<link rel="stylesheet" href="reveal_js/plugin/highlight/monokai.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
                <section data-background-image="reveal_js/img/front image.png">
                    <p class="sobretitulo">Guerra en Ucrania</p>
                    <h1 class="titulo">Lo imposible</h1>
                    <p class="explicacion_titulo">Los primeros diez días de guerra en Ucrania pueden no haber sido lo que desde un primer momento se planteó</p>
                    <p class="explicacion_controles">Utiliza los controles situados en la esquina inferior derecha, así como las flechas del teclado para avanzar</p>
                    <p class="fuentes_portada">Fuente: The New York Times</p>
                </section>
                
                <section> 
                    <section data-background-video="reveal_js/video/def/2.1.mp4">
                    <p class="sobretitulo_parte1">Parte 1</p>
                    <h1 class="titulo">Diez días de estancamiento</h1>
                    <p class="parrafo">La estrategia rusa, consistente en atacar Kiev y las ciudades portuarias del sur de Ucrania parece no poder lograr el éxito deseado</p>
                    <p class="fuentes_21">Fuente: The Economist</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/24-02.mp4">
                    <p class="titulo_seccion">Día 1 (24 feb. 2022)</p>
                    <p class="parrafo_seccion">Las tropas rusas invaden Ucrania por tierra, mar y aire, con el objetivo de hacer caer las grandes ciudades (Kiev y Járkov) y las ciudades portuarias lo antes posible. Se bombardean bases militares y aeropuertos, entre otros.</p>
                    <p class="fuentes">Fuente: The Guardian</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/25-02.mp4">
                    <p class="titulo_seccion">Día 2 (25 feb. 2022)</p>
                    <p class="parrafo_seccion">Las tropas rusas se acercan a Kiev y Járkov, aunque efectivos ucranianos previenen la entrada. Se producen bombardeos en ambas ciudades, incluso en áreas residenciales.</p>
                    <p class="fuentes_dia2">Fuente: Radio Televisión Española</p>
                    <p><img class="imagen_diapositiva" src="reveal_js/img/mapas/mapas_avance_rusia/25_febrero.png" alt="dia_25"/></p>
                    </section>
                    <section data-background-video="reveal_js/video/def/26-02.mp4">
                    <p class="titulo_seccion">Día 3 (26 feb. 2022)</p>
                    <p class="parrafo_seccion">El ejército ruso continúa su avance hacia el norte, extendiéndose por las ciudades de Jersón, Zaporiyia y Mariúpol, aunque sin éxito.</p>
                    <p class="fuentes_dia2">Fuente: CNN</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/27-02.mp4">
                    <p class="titulo_seccion">Día 4 (27 feb. 2022)</p>
                    <p class="parrafo_seccion">Continúa el avance ruso hacia Járkov, aunque la resistencia ucraniana les impide el paso. Mientras tanto, comienzan los asaltos en Zaporiyia y Mariúpol.</p>
                    <p class="fuentes_dia2">Fuentes: The Guardian/France24</p>
                    <p><img class="imagen_diapositiva" src="reveal_js/img/mapas/mapas_avance_rusia/27_febrero.png" alt="dia_27"/></p>
                    </section>
                    <section data-background-video="reveal_js/video/def/28-02.mp4">
                    <p class="titulo_seccion">Día 5 (28 feb. 2022)</p>
                    <p class="parrafo_seccion">Los misiles rusos siguen impactando en zonas civiles de Kiev y Járkov, mientras en el sur los rusos capturas las ciudades de Berdiansk y Enerhodar. Comienzan las negociaciones entre los gobiernos ruso y ucraniano en la frontera con Bielorrusia con resultados infructuosos</p>
                    <p class="fuentes">Fuentes: El Español/DW</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/01-03.mp4">
                    <p class="titulo_seccion">Día 6 (01 mar. 2022)</p>
                    <p class="parrafo_seccion">Fuertes ataques contra la ciudad de Jersón, al sur del país. Mientras tanto, Mariúpol sigue manteniéndose en manos ucranianas, aunque su alcalde denuncia que los ciudadanos llevan días sin agua, luz o calefacción. Controlar Mariúpol supondría a los rusos poder conectar toda la costa con las zonas separatistas del Donbás.</p>
                    <p class="fuentes_dia6">Fuente: KTLA 5</p>
                    <p><img class="imagen_diapositiva" src="reveal_js/img/mapas/mapas_avance_rusia/1_marzo.png" alt="dia_1"/></p>

                    </section>
                    <section data-background-video="reveal_js/video/def/02-03.mp4">
                    <p class="titulo_seccion">Día 7 (02 mar. 2022)</p>
                    <p class="parrafo_seccion">Tras una semana de guerra cae la primera gran ciudad, Jersón. Su alcalde avisa de que la ciudad se ha rendido y de que no hay rastro ya del ejército ucraniano. El objetivo de las tropas rusas es continuar su camino hacia Odessa, mientras Mariúpol es sitiada por tierra y por mar.</p>
                    <p class="fuentes">Fuentes: NBC News/Fox News</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/03-03.mp4">
                    <p class="titulo_seccion">Día 8 (03 mar. 2022)</p>
                    <p class="parrafo_seccion">Tras la ronda de negociaciones, ambas partes aprueban la apertura de corredores humanitarios que permitan la evacuación de civiles. España envía armas al ejército ucraniano.</p>
                    <p class="fuentes_dia2">Fuente: Radio Televisión Española</p>
                    <p><img class="imagen_diapositiva" src="reveal_js/img/mapas/mapas_avance_rusia/3_marzo.png" alt="dia_3"/></p>
                    </section>
                    <section data-background-video="reveal_js/video/def/04-03.mp4">
                    <p class="titulo_seccion">Día 9 (04 mar. 2022)</p>
                    <p class="parrafo_seccion">Mariúpol sigue resistiendo, aunque los bombardeos han acabado con los suministros de agua, electricidad y calefacción. Las tropas rusas incendian la planta nuclear de Zaporiyia, aunque el incendio se extinguió sin propagación de radiactividad.</p>
                    <p class="fuentes">Fuente: Radio Televisión Española</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/05-03.mp4">
                    <p class="titulo_seccion">Día 10 (05 mar. 2022)</p>
                    <p class="parrafo_seccion">Los ataques continúan en el sureste, sobre todo en el área de Melitópol. Ese mismo día se declaró un alto al fuego en las ciudades de Mariúpol y Volnovaja, aunque hubo ataques rusos que impidieron la evacuación de civiles. Fuentes ucranianas aseguran que la planta nuclear de Zaporiyia está bajo control de las fuerzas rusas.</p>
                    <p class="fuentes_dia6">Fuente: Radio Televisión Española</p>
                    <p><img class="imagen_diapositiva" src="reveal_js/img/mapas/mapas_avance_rusia/5_marzo.png" alt="dia_5"/></p>
                    </section>
                </section>
                <section>
                    <section data-background-video="reveal_js/video/def/uk_army_1.mp4">
                    <p class="sobretitulo_parte1">Parte 2</p>
                    <h1 class="titulo">Moral alta</h1>
                    <p class="parrafo">El ejército ucraniano cuenta con 196.600 soldados en sus filas (aunque todos los hombres de entre 18 y 60 deben permanecer en el país, en caso de ser necesitados) , frente a los más del 900.000 del ruso. Sin embargo, la alta moral del ejército y de la población ucraniana está ralentizando el avance de las tropas rusas.</p>
                    <p class="fuentes_dia6">Fuente: The Sun</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/uk_army_2.mp4">
                    <p class="parrafo_seccion2">Los entrenamientos a la población civil comenzaron varias semanas antes de que se produjese la invasión rusa, ante el temor de que esta se volviese realidad. En la actualidad, profesionales de todas las áreas se encuentran entre las filas del ejército ucraniano.</p>
                    <p class="fuentes">Fuentes: The New York Times/El País</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/uk_army_3.mp4">
                    <p class="parrafo_seccion2">Los propios civiles reciben armas del ejército ucraniano, con puntos establecidos por el gobierno a lo largo de todo el país. La población fabrica cócteles mólotov y ayuda en la colocación de barricadas.</p>
                    <p class="fuentes">Fuentes: The New York Times/Sky News</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/armamento.mp4""></section>
                </section>
                <section>
                    <section data-background-video="reveal_js/video/def/refugees2.mp4">
                    <p class="sobretitulo_parte1">Parte 3</p>
                    <h1 class="titulo">Los verdaderos damnificados</h1>
                    <p class="parrafo">Ya se habla de una de las mayores crisis de refugiados de los últimos tiempos, contando los que ya han abandonado el país o los que se han visto obligados a desplazarse dentro del mismo.</p>
                    <p class="fuentes_dia2">Fuente: Associated Press</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/refugees_again.mp4">
                    <p class="fuentes_video_solo">Fuente: Reuters</p>
                    </section>
                    <section data-background-video="reveal_js/video/def/refugees1.2.mp4">
                    <p class="fuentes_subtitulos">Fuente: The Guardian</p>
                    </section>
                </section>
                <section>
                    <p class="nombre">Ana Ruiz Espinar</p>
                    <p class="fecha">11/03/2022</p>
                </section>
			</div>
		</div>

		<script src="reveal_js/dist/reveal.js"></script>
		<script src="reveal_js/plugin/notes/notes.js"></script>
		<script src="reveal_js/plugin/markdown/markdown.js"></script>
		<script src="reveal_js/plugin/highlight/highlight.js"></script>
		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,
                center:false,
				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ]
			});
		</script>
	</body>
</html>
